<div class="card mb-6 mt-5 shadow" style="max-width: 700px;">
        <div class="row no-gutters">
          <div class="col-md-4">
                <img src="{{owner.avatar_url}}" class="card-img-top" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Nombre: <b>{{owner.name}}</b></h5>
              <p class="card-text">Usuario: {{owner.login}}</p>
              <p class="card-text">Localidad: {{owner.location}}</p>
              <p class="card-text">Actualizado: <small class="text-muted">{{owner.updated_at | date: 'dd/MM/yyyy'}}</small></p>
            </div>
          </div>
        </div>
</div>