body {
    /*
    background: #141E30;  fallback for old browsers 
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
height: 100%;
*/
    background: #f1f1f1ba !important;
}

.description-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 40px !important;
}